<%- include('./fragments/headers.ejs') %>

    <main>
        <h2>Strona główna</h2>
        <p>Jesteśmy pierwszą tak zaawansowaną placówką sportową jaką tylko zobaczysz</p>
        
    </main>

<%- include('./fragments/footer.ejs') %>